body {
    margin: 0;
    padding-top: 800px;
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#welcome {
    position: absolute;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#00ffff 0%, #0000ff 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

p {
    font-size: 25px;
    color: hotpink;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
    color
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.menu {
    width: 100%;
    position: fixed;
    top: 0px;

    z-index: 10;

    background: ;
    margin-top: 0px
}

.links {
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px;
    display: inline;

}

.links:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}

.article:hover {
    color: fuchsia;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}

#books {
    font-size: 25px;
    color: darkorchid;
}
#inspirations{
    font-family: cursive;
 text-decoration-style: wavy;
}